@import url("normalize.css");

/* || GENERAL STYLES */

:root {
  --color-dark-navy: #001f3f;
  --color-smoke-white: #f5f5f5;
  --color-light-grey: #f2f2f2;
  --color-dark-blue: #4f5b93;
  --color-medium-magneta: #ae508d;
  --color-dark-grey: #333;
  --color-medium-red: #f74c4a;
  --color-light-green: #4fd364;
  --color-bright-blue: #0a74da;
}

html {
  font-size: 16px;
  font-family: "Open Sans", serif;
  letter-spacing: 1px;
  line-height: 2;
  box-sizing: border-box;
  color: #000000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

table tr th {
  text-align: left;
}

h1 {
  font-size: 48px;
}

h2 {
  text-align: center;
  margin-bottom: 48px;
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

/* || UTILITIES */

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.circle {
  border-radius: 50%;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}

.justify-text {
  text-align: justify;
}

.text-center {
  text-align: center;
}

/* || SITEWIDE */

.social-link-white {
  color: var(--color-smoke-white);
  font-size: 32px;
}

.badge {
  background-color: var(--color-dark-navy);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-smoke-white);
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 57px;
  left: calc(50% - 22px);
}

#about,
#resume,
#services,
#skills,
#projects,
#contact {
  margin-top: 128px;
}

/* || INTRO SECTION */

#intro {
  background-color: var(--color-dark-navy);
  color: var(--color-smoke-white);
  width: 100%;
  margin: 0;
  border: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#intro img {
  object-fit: cover;
}

#intro h1 {
  transform: rotate(-5deg);
  font-family: "Kaushan Script", cursive;
}

#intro p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

#intro ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* || ABOUT SECTION */

#profileSummary {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

#profile {
  flex: 30%;
}

#profile table {
  width: 100%;
}

#summary {
  flex: 70%;
}

/* || RESUME SECTION */

#resume ul {
  margin-top: 48px;
  padding: 0;
}

#resume ul li {
  position: relative;
  display: flex;
  margin: 0;
}

#resume ul li.resume-sub-heading {
  border: 0;
  padding: 0;
  justify-content: center;
}

#resume h3 {
  background-color: var(--color-light-grey);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

#resume ul li div:not(.badge) {
  width: 50%;
  margin-top: 32px;
}

#resume ul li:not(#resume ul li.resume-sub-heading)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--color-light-grey);
  left: 50%;
}

div:not(.badge).resume-item-left {
  text-align: right;
  padding-right: 48px;
}

div:not(.badge).resume-item-right {
  padding-left: 48px;
}

#resume ul li.inverted-item {
  justify-content: flex-end;
}

/* || SERVICES SECTION */

#services {
  background-color: var(--color-dark-navy);
  color: var(--color-smoke-white);
  padding-top: 48px;
  padding-bottom: 48px;
}

#services ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
  gap: 28px;
}

#services ul li {
  text-align: center;
}

div.service-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-smoke-white);
  color: var(--color-dark-navy);
  font-size: 50px;
  text-align: center;
  position: relative;
  left: calc(50% - 50px);
}

/* || SKILLS SECTION */

#primarySkill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 28px;
  gap: 28px;
  justify-items: center;
}

#primarySkill li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#primarySkill li span {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

#secondarySkill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 28px;
  gap: 28px;
  margin-top: 48px;
}

#secondarySkill li {
  line-height: 1;
}

#secondarySkill li div {
  display: flex;
  justify-content: space-between;
}

#secondarySkill li canvas {
  width: 100%;
}

/* || PROJECT SECTION */

#projects {
  background-color: var(--color-dark-navy);
  color: var(--color-smoke-white);
  padding-top: 48px;
  padding-bottom: 48px;
}

#projects ul li {
  position: relative;
  display: flex;
  margin: 0;
  border: 0;
  padding: 0;
}

#projects ul li.project-sub-heading {
  border: 0;
  padding: 0;
  color: var(--color-dark-navy);
  justify-content: center;
}

#projects h3 {
  background-color: var(--color-light-grey);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

#projects ul li div:not(.badge) {
  width: 50%;
  margin-top: 60px;
}

#projects ul li:not(#projects ul li.project-sub-heading)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--color-light-grey);
  left: 50%;
}

div:not(.badge).project-item-left {
  text-align: right;
  padding-right: 48px;
}

div:not(.badge).project-item-right {
  padding-left: 48px;
}

#projects div.badge {
  background-color: var(--color-smoke-white);
  color: var(--color-dark-navy);
}

#projects ul li.inverted-item {
  justify-content: flex-end;
}

#projects a {
  text-decoration: none;
  color: var(--color-smoke-white);
}

#projects a:hover {
  color: var(--color-medium-red);
}
